@page
@model StudentPortfolio.Areas.Admin.Pages.CDL.CDLsModel
@{
    ViewData["Title"] = "CDLs";
}

<a class="btn btn-success" style="margin-bottom: 20px;" asp-area="Admin" asp-page="CreateCDL">Add New CDL</a>

<table class="table  table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Last Updated
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cdls)
        {
            <tr>
                <td>
                    @if (item.IconImage != null && item.IconImage.Length > 0)
                    {
                        var base64 = Convert.ToBase64String(item.IconImage);
                        var imgSrc = $"data:image/jpeg;base64,{base64}";
                        <img src="@imgSrc" alt="Icon" width="40" height="40" />
                    }
                    else
                    {
                        <span>No icon</span>
                    }
                </td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.Link)">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
                <td>
                    <a asp-area="Admin" asp-page="EditCDL" asp-route-cdlId="@item.CdlId">
                        <img src="~/img/edit-icon-png-3602.png" style="height: 30px; width: 30px;" alt="Edit CDL" title="Edit CDL">
                    </a>
                    <form asp-page-handler="Delete" method="post" asp-route-id="@item.CdlId" onsubmit="return confirm('Are you sure you want to delete this CDL?');">
                        <button class="delete-button" type="submit" title="Delete CDL">
                            <img src="~/img/garbage-bin-png-10491.png" style="height: 40px; width: 40px;" alt="Delete CDL">
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
