@page
@model StudentPortfolio.Pages.Export.ExportDiscontinuedTrackersModel
@{
    ViewData["Title"] = "ExportDiscontinuedTrackers";
}

@section CompetenciesNav {
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-page="/Competencies/Competencies">Competencies</a>
    </li>
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="mb-0" >Export Competency Tracker Entries</h4>
    <form method="post" asp-page-handler="ExportPortfolio">
        <div class="text-center">
            <button type="submit" class="btn btn-warning">Export</button>
        </div>
    </form>
</div>

@if(Model.Trackers != null)
{
    <table class="table table-bordered table-striped collapsible-table">
        @foreach (var comp in Model.Competencies)
        {
            <thead>
                <tr>
                    <th>
                        @comp.CompetencyDisplayId
                    </th>
                    <th>
                        @comp.Description
                    </th>
                    <th>
                        <a href="@comp.LinkToIndicators">Indicators</a>
                    </th>
                    <th>
                        Level
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        End Date
                    </th>
                    <th>
                        Skill Review
                    </th>
                    <th>
                        Evidence
                    </th>
                </tr>
            </thead>

            @foreach (var tracker in Model.Trackers.Where(t => t.CompetencyId == comp.CompetencyId))
            {
                <tbody class="master-row">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            @tracker.Level.Name
                        </td>
                        <td>
                            @tracker.StartDate
                        </td>
                        <td>
                            @tracker.EndDate
                        </td>
                        <td>
                            @tracker.SkillsReview
                        </td>
                        <td>
                            <a href="@tracker.Evidence">Evidence</a>
                        </td>
                    </tr>
                </tbody>
            }
        }
    </table>
}
