@page
@model StudentPortfolio.Areas.Staff.Pages.CDLModel
@{
    ViewData["Title"] = "CDL";
}

@section CDLNav {
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-area="Staff" asp-page="/CDL">CDL</a>
    </li>
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Last Updated
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cdl)
        {
            <tr>
                <td>
                    @if (item.IconImage != null && item.IconImage.Length > 0)
                    {
                        var base64 = Convert.ToBase64String(item.IconImage);
                        var imgSrc = $"data:image/jpeg;base64,{base64}";
                        <img src="@imgSrc" alt="Icon" width="40" height="40" />
                    }
                    else
                    {
                        <span>No icon</span>
                    }
                </td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.Link)">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
            </tr>
        }
    </tbody>
</table>
