@page
@model StudentPortfolio.Areas.Staff.Pages.FeedbackDashboard2Model

@{
    ViewData["Title"] = "FeedbackDashboard2";
    Layout = "~/Areas/Staff/Pages/Shared/_Layout.cshtml";
}

<h1>FeedbackDashboard</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Feedback[0].FeedbackText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback[0].DateUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback[0].Goal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback[0].CompetencyTracker)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Feedback) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeedbackText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goal.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetencyTracker.CompetencyTrackerId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FeedbackId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FeedbackId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FeedbackId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
