@page
@model StudentPortfolio.Areas.Staff.Pages.StudentsModel
@{
    ViewData["Title"] = "Students";
}

<form asp-page-handler="Search" method="get" style="margin-bottom: 20px;" class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="SearchString" value="@Model.SearchString">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<table class="table table-bordered table-striped" id="myTable" data-toggle="table" data-select-item-name="btSelectItem" data-multiple-select-row="true">
    <thead>
        <tr>
            <th><input type="checkbox" id="selectAllRows"></th>
            <th>
                Name
            </th>
            <th>
                Degree
            </th>
            <th>
                View Data
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Users)
        {
            <tr>
                <td><input type="checkbox" class="rowCheckbox" data-id="1"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Degree)
                </td>
                <td>
                    <a asp-area="Staff" asp-page="/ViewStudentData" asp-route-userName="@item.UserName" title="View Data">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

