@page
@model StudentPortfolio.Pages.Competencies.CompetenciesModel

@{
    ViewData["Title"] = "Competencies";
}

@section CompetenciesNav {
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-page="/Competencies/Competencies">Competencies</a>
    </li>
}

<div class="input-container">
    <h3>Date Range</h3>
    <label for="fromInput">From:</label>
    <input class="input" type="month" id="fromInput" name="startMonth">

    <label for="toInput">To:</label>
    <input class="input" type="month" id="toInput" name="endMonth">
</div>

@foreach (var parentComp in Model.ParentCompetencies)
{
    var number = 0;

    <table class="table table-bordered table-striped collapsible-table">
        <thead>
            <tr>
                <th></th>
                <th>
                        @Html.DisplayFor(modelItem => parentComp.Description)
                </th>
                <th>
                    Link to Indicators
                </th>
                <th>
                    Levels
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompetencyTracker[0].SkillsReview)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompetencyTracker[0].Evidence)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        
            @foreach (var comp in Model.Competencies.Where(c => c.ParentCompetencyId == parentComp.CompetencyId))
            {
            number += 1;
            var tracker = Model.CompetencyTracker.Where(t => t.CompetencyId == comp.CompetencyId);/*.First();*/
            <tbody class ="master-row">
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => parentComp.CompetencyId).@number
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => comp.Description)
                    </td>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => comp.LinkToIndicators)">Indicators</a>
                    </td>
                    <td>
                        @tracker.First().Level
                        @* @Html.DisplayFor(modelItem => tracker.Level) *@
                    </td>
                    <td>
                        @tracker.First().StartDate
                        @* @Html.DisplayFor(modelItem => tracker.StartDate) *@
                    </td>
                    <td>
                        @tracker.First().EndDate
                        @* @Html.DisplayFor(modelItem => tracker.EndDate) *@
                    </td>
                    <td>
                        <a href="@tracker.First().SkillsReview">Skills Review</a>
                        @* @Html.DisplayFor(modelItem => tracker.SkillsReview) *@
                    </td>
                    <td>
                        <a href="@tracker.First().Evidence">Evidence</a>
                        @* @Html.DisplayFor(modelItem => tracker.Evidence) *@
                    </td>
                    <td>

                        @Html.ActionLink("New", "New", new { /* id=item.PrimaryKey */ }) | @*Add an entry for the next level*@
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) | @*Update the entry for this level*@
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) @*Delete the entry for this level(can't delete lower levels)*@
                        <a class="btn btn-success" style="margin-bottom: 10px;" asp-page="EditCompetency" asp-route-id="@tracker.First()">Edit</a>

                    </td>
                    <td>
                        @if(tracker.Count() > 1)
                        {
                            <button class="toggle-details">+</button>
                        }
                    </td>
                </tr>
                </tbody>
                <tbody class="collapsible-content" style="display: none;">
                @foreach(var level in tracker)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            @level.Level
                        </td>
                        <td>
                            @level.StartDate
                        </td>
                        <td>
                            @level.EndDate
                        </td>
                        <td>
                            <a href="@level.SkillsReview">Skills Review</a>
                        </td>
                        <td>
                            <a href="@level.Evidence">Evidence</a>
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) @*Update the entry for this level*@
                        </td>
                    </tr>
                }                
                </tbody>
            
            }
</table>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.collapsible-table').on('click', '.toggle-details', function () {
            var $button = $(this);
            var $masterRow = $button.closest('.master-row');
            var $detailRow = $masterRow.next('.collapsible-content');

            $detailRow.toggle(); // Toggles display: none and display: block
            $button.text($detailRow.is(':visible') ? '-' : '+'); // Change button text
        });
    });
</script>