@page
@model StudentPortfolio.Pages.Competencies.CompetenciesModel

@{
    ViewData["Title"] = "Competencies";
}

@section CompetenciesNav {
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-page="/Competencies/Competencies">Competencies</a>
    </li>
}

<div class="input-container">
    <h3>Date Range</h3>
    <label for="fromInput">From:</label>
    <input class="input" type="month" id="fromInput" name="startMonth">

    <label for="toInput">To:</label>
    <input class="input" type="month" id="toInput" name="endMonth">
</div>

@foreach (var parentComp in Model.ParentCompetencies)
{   
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                    @Html.DisplayFor(modelItem => parentComp.Description)
            </th>
            <th>
                Link to Indicators
            </th>
            <th>
                Levels
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetencyTracker[0].SkillsReview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetencyTracker[0].Evidence)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var comp in Model.Competencies.Where(c => c.ParentCompetencyId == parentComp.CompetencyId))
            {
                var tracker = Model.CompetencyTracker.Where(t => t.CompetencyId == comp.CompetencyId).First();

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => comp.Description)
                    </td>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => comp.LinkToIndicators)">Indicators</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => tracker.Level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => tracker.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => tracker.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => tracker.SkillsReview)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => tracker.Evidence)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
            
    </tbody>
</table>
}
