@page
@model StudentPortfolio.Pages.Competencies.CompetenciesModel

@{
    ViewData["Title"] = "Competencies";
}

@section CompetenciesNav {
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-page="/Competencies/Competencies">Competencies</a>
    </li>
}

<div class="input-container">
    <h3>Date Range</h3>
    <label for="fromInput">From:</label>
    <input class="input" type="month" id="fromInput" name="startMonth">

    <label for="toInput">To:</label>
    <input class="input" type="month" id="toInput" name="endMonth">
</div>

@foreach (var parentComp in Model.ParentCompetencies)
{
    <table class="table table-bordered table-striped collapsible-table">
        <thead>
            <tr>
                <th></th>
                <th>
                        @Html.DisplayFor(modelItem => parentComp.Description)
                </th>
                <th>
                    Link to Indicators
                </th>
                <th>
                    Levels
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompetencyTracker[0].SkillsReview)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompetencyTracker[0].Evidence)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        
            @foreach (var comp in Model.Competencies.Where(c => c.ParentCompetencyId == parentComp.CompetencyId))
            {
            if (Model.CompetencyTracker.Count != 0)
            {
            var tracker = Model.CompetencyTracker.Where(t => t.CompetencyId == comp.CompetencyId);/*.First();*/
            
            <tbody class ="master-row">
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => comp.CompetencyDisplayId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => comp.Description)
                    </td>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => comp.LinkToIndicators)">Indicators</a>
                    </td>
                    <td>

                        @tracker.First().Level.Name
                        @* @Html.DisplayFor(modelItem => tracker.Level) *@
                    </td>
                    <td>
                        @tracker.First().StartDate
                        @* @Html.DisplayFor(modelItem => tracker.StartDate) *@
                    </td>
                    <td>
                        @tracker.First().EndDate
                        @* @Html.DisplayFor(modelItem => tracker.EndDate) *@
                    </td>
                    <td>
                        @tracker.First().SkillsReview
                        @* @Html.DisplayFor(modelItem => tracker.SkillsReview) *@
                    </td>
                    <td>
                        <a href="@tracker.First().Evidence">Evidence</a>
                        @* @Html.DisplayFor(modelItem => tracker.Evidence) *@
                    </td>
                    <td>
                        <div class="icon-display">
                            <a asp-page="CreateCompetency" asp-route-competencyId="@comp.CompetencyId">
                                  <img src="~/img/plus-black-symbol.png" style="height: 30px; width: 30px; margin-right: 13px;" alt="Edit Competency" title="Add Entry">
                            </a>

                            <a asp-page="EditCompetency" asp-route-competencyTrackerId="@tracker.First().CompetencyTrackerId">
                                <img src="~/img/edit-icon-png-3602.png" style="height: 30px; width: 30px;" alt="Edit Entry" title="Edit Entry">
                            </a>
                            <form asp-page-handler="Delete" method="post" asp-route-id="@tracker.First().CompetencyTrackerId" onsubmit="return confirm('Are you sure you want to delete this competency entry?');">
                                <button class="delete-button" type="submit" title="Delete Entry">
                                     <img src="~/img/garbage-bin-png-10491.png" style="height: 40px; width: 40px;" alt="Delete Entry">
                                </button> @*Delete the entry for this level(can't delete lower levels)*@
                            </form>
                        </div>
                    </td>
                    <td>
                        @if(tracker.Count() > 1)
                        {
                           <button class="toggle-details">↓</button>
                        }
                    </td>
                </tr>
                </tbody>
                <tbody class="collapsible-content" style="display: none;">
                @foreach(var level in tracker)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            @level.Level.Name
                        </td>
                        <td>
                            @level.StartDate
                        </td>
                        <td>
                            @level.EndDate
                        </td>
                        <td>
                            @level.SkillsReview
                        </td>
                        <td>
                            <a href="@level.Evidence">Evidence</a>
                        </td>
                        <td>
                            <div class="icon-display">
                                <a asp-page="EditCompetency" asp-route-competencyTrackerId="@tracker.First().CompetencyTrackerId">
                                      <img src="~/img/edit-icon-png-3602.png" style="height: 30px; width: 30px;" alt="Edit Entry" title="Edit Entry">
                                </a>
                                @* <form asp-page-handler="Delete" method="post" asp-route-id="@tracker.First().CompetencyTrackerId" onsubmit="return confirm('Are you sure you want to delete this competency entry?');">
                                    <button type="submit" class="btn btn-danger">Delete</button> @*Delete the entry for this level(can't delete lower levels)
                                </form> *@
                            </div>
                        </td>
                    </tr>
                }                
                </tbody>
            }
            else
            {
                <tbody class ="master-row">
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => comp.CompetencyDisplayId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => comp.Description)
                    </td>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => comp.LinkToIndicators)">Indicators</a>
                    </td>
                    <td>
                        <p>Emerging</p>
                    </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td>
                            <a class="btn btn-primary" asp-page="CreateCompetency" asp-route-id="@comp.CompetencyId">New Entry</a>
                            <a class="btn btn-success" asp-page="EditCompetency" asp-route-competencyTrackerId="@comp.CompetencyId">Edit</a>
                        </td>
                    <td>
                        
                    </td>
                </tr>
                </tbody>
            }
        }
</table>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.collapsible-table').on('click', '.toggle-details', function () {
            var $button = $(this);
            var $masterRow = $button.closest('.master-row');
            var $detailRow = $masterRow.next('.collapsible-content');

            $detailRow.toggle(); // Toggles display: none and display: block
            $button.text($detailRow.is(':visible') ? '↑' : '↓'); // Change button text
        });
    });
</script>