@page
@model StudentPortfolio.Areas.Admin.Pages.CompetenciesModel
@{
    ViewData["Title"] = "Competencies";
}

<a class="btn btn-success" style="margin-bottom: 20px;" asp-area="Admin" asp-page="AddCompetency">Add New Competency</a>

@foreach (var parentComp in Model.ParentCompetencies)
{
    <table class="table table-bordered table-striped collapsible-table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayFor(modelItem => parentComp.Description)
                </th>
                <th>
                    <a asp-area="Admin" asp-page="EditCompetency" asp-route-competencyTrackerId="@parentComp.CompetencyId">
                        <img src="~/img/edit-icon-png-3602.png" style="height: 30px; width: 30px;" alt="Edit Competency group" title="Edit Competency Group">
                    </a>
                </th>
            </tr>
        </thead>
        @foreach (var comp in Model.Competencies.Where(c => c.ParentCompetencyId == parentComp.CompetencyId))
        {
            <tbody class="master-row">
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => comp.CompetencyDisplayId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => comp.Description)
                    </td>
                    <td>
                        <a asp-area="Admin" asp-page="EditCompetency" asp-route-competencyTrackerId="@comp.CompetencyId">
                            <img src="~/img/edit-icon-png-3602.png" style="height: 30px; width: 30px;" alt="Edit Competency" title="Edit Competency">
                        </a>
                        @if (comp.CompetencyTrackers.Count() < 1)
                        {
                            <form asp-page-handler="Delete" method="post" asp-route-id="@comp.CompetencyId" onsubmit="return confirm('Are you sure you want to delete this competency?');">
                                <button class="delete-button" type="submit" title="Delete Competency">
                                    <img src="~/img/garbage-bin-png-10491.png" style="height: 40px; width: 40px;" alt="Delete Competency">
                                </button>
                            </form>
                        }
                    </td>
            </tbody>

        }

    </table>

}