@page
@model StudentPortfolio.Pages.Profile.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

@section ProfileNav {
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-page="/Profile/Profile">Profile</a>
    </li>
}

<div class="profile-container">
    <div class="profile-header">

        <!-- display profile picture, model controller converts it to base64 already -->
        @if (!string.IsNullOrEmpty(Model.ProfileImageBase64))
        {
            <img src="@Model.ProfileImageBase64" alt="Profile picture" class="small-svg" />
        }
        else
        {
            <p>No profile image</p>
        }

        <!-- header with name and course -->
        <div class="profile-info">
            <h1>@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</h1>
            <p>@Model.CurrentUser.Specialisation @Model.CurrentUser.Degree</p>
        </div>
    </div>

    <!-- section for boxes with info about user -->
    <div class="profile-boxes">
        <div class="box">
            <h3>Personal Information</h3>
            <p>@Model.CurrentUser.Introduction</p>
        </div>

        <div class="box">
            <h3>Upcoming Actions for Personal Development</h3>

            <!-- show actions that need to be done, could be many so displayed as a list -->
            <ul>
                @foreach (var item in Model.CDP)
                {
                    <li>@Html.DisplayFor(modelItem => item.NetworkingPlan)</li>
                }
            </ul>
        </div>

        <div class="box">
            <h3>My Links</h3>

            <!--  links for user to quickly access, NOT WORKING YET -->
            <ul>
                <li><a href="@Model.CurrentUser.LinkedIn">LinkedIn</a></li>
                <li><a href="@Model.CurrentUser.Resume">Resume</a></li>
                <li><a href="@Model.CurrentUser.UserLinks">Supporting Documents</a></li>
            </ul>
        </div>
    </div>
</div>
