@page
@model StudentPortfolio.Pages.Profile.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

@section ProfileNav {
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-page="/Profile/Profile">Profile</a>
    </li>
}

<div class="profile-container">
    <div class="profile-header">

        <!-- display profile picture, model controller converts it to base64 already -->
        @if (!string.IsNullOrEmpty(Model.ProfileImageBase64))
        {
            <img src="@Model.ProfileImageBase64" alt="Profile picture" class="small-svg" />
        }
        else
        {
            <img src="https://thumbs.dreamstime.com/b/default-profile-picture-avatar-photo-placeholder-vector-illustration-default-profile-picture-avatar-photo-placeholder-vector-189495158.jpg" alt="profile picture" class="small-svg" />
        }

        <!-- header with name and course -->
        <div class="profile-info">
            <h1>@Model.CurrentUser.GetFirstName() @Model.CurrentUser.LastName</h1>
            <p>@Model.CurrentUser.Degree</p>
            <p>@Model.CurrentUser.Specialisation </p>
        </div>

        <!-- edit button -->
        <div>
            <div class="profile-actions mt-3">
                <a asp-page="/Profile/Edit" class="btn btn-primary">Edit Profile</a>
            </div>
        </div>
    </div>

    <!-- section for boxes with info about user -->
    <div class="profile-boxes">
        <div class="box">
            <h3>Personal Information</h3>
            <p>@Model.CurrentUser.Introduction</p>
        </div>

        <div class="box">
            <h3>Upcoming Actions for Personal Development</h3>

            <!-- show actions that need to be done, could be many so displayed as a list -->
            <ul>
                @if (Model.CDP != null)
                {
                    <li>@Html.DisplayFor(model => model.CDP.NetworkingPlan)</li>
                }
            </ul>
        </div>

        <div class="box">
            <h3>My Links</h3>

            <!--  links for user to quickly access, NOT WORKING YET -->
            <ul>
                <li><a href="@Model.CurrentUser.LinkedIn">LinkedIn</a></li>
                <li><a href="@Model.CurrentUser.Resume">Resume</a></li>
                <li><a href="@Model.CurrentUser.CoverLetter">Cover Letter</a></li>
                <li><a href="@Model.CurrentUser.Certificates">Certificates</a></li>

                @foreach (var link in Model.UserLinks)
                {
                    <li><a href="@link.Link">External Link</a></li>
                }
            </ul>
        </div>
    </div>
</div>
