@using StudentPortfolio.Models
@model ProfileData

<div class="col-12 col-md-5 d-flex">
    <div class="card shadow-sm flex-fill">
        <div class="card-body text-center d-flex flex-column justify-content-center align-items-center">
            <img src="@Model.ProfileImageBase64" alt="Profile image"
                 class="img-fluid rounded-circle mb-3"
                 style="width: 150px; height: 150px; object-fit: cover;">
            <h3 class="card-title">@Model.User.FirstName @Model.User.LastName</h3>
            <p class="card-text text-muted">@Model.User.Degree</p>
        </div>
    </div>
</div>

<div class="col-12 col-md-5 d-flex flex-column">

    <div class="card shadow-sm mb-4">
        <div class="card-body py-2">
            <p>@Model.User.Introduction</p>
          
        </div>
    </div>
</div>


