@page
@model StudentPortfolio.Areas.Admin.Pages.Competencies.CompetenciesModel
@{
    ViewData["Title"] = "Competencies";
}

<a class="btn btn-success" style="margin-bottom: 20px;" asp-area="Admin" asp-page="/Competencies/AddCompetency">Add New Competency</a>

<p style="font-size: 18px; line-height: 1.75; font-weight: 600;">
    Note: Competencies can only be deleted if there are no associated student entries. <br />
    Set a <b>Discontinue Competency Date</b> in <b>Edit Competency</b> to hide a competency and prevent new entries.
</p>

<table class="table table-bordered table-striped collapsible-table">
    <thead>
        <tr>
            <th></th>
            <th></th>

            <th>
                <p>Last Updated</p>
            </th>
            <th>
                <p>Discontinued Date</p>
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var parentComp in Model.ParentCompetencies)
    {
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayFor(modelItem => parentComp.Description)
                </th>
                <th>
                    @parentComp.LastUpdated
                </th>
                <th>
                    @parentComp.EndDate
                </th>
                <th>
                    <div class="icon-display">
                        <a asp-area="Admin" asp-page="/Competencies/EditCompetency" asp-route-competencyId="@parentComp.CompetencyId">
                            <img src="~/img/edit-icon-png-3602.png" style="height: 30px; width: 30px;" alt="Edit Competency group" title="Edit Competency Group">
                        </a>
                        @if (Model.Competencies.Where(c => c.ParentCompetencyId == parentComp.CompetencyId).Count() == 0)
                        {
                            <form asp-page-handler="Delete" method="post" asp-route-id="@parentComp.CompetencyId" onsubmit="return confirm('Are you sure you want to delete this competency group?');">
                                <button class="delete-button" type="submit" title="Delete Competency Group">
                                    <img src="~/img/garbage-bin-png-10491.png" style="height: 40px; width: 40px;" alt="Delete Competency Group">
                                </button>
                            </form>
                        }
                    </div>
                </th>
            </tr>
        </thead>
        @foreach (var comp in Model.Competencies.Where(c => c.ParentCompetencyId == parentComp.CompetencyId))
        {
            <tbody class="master-row">
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => comp.CompetencyDisplayId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => comp.Description)
                    </td>
                    <td>
                        @comp.LastUpdated
                    </td>
                    <td>
                        @comp.EndDate
                    </td>
                    <td>
                        <div class="icon-display">
                            <a asp-area="Admin" asp-page="/Competencies/EditCompetency" asp-route-competencyId="@comp.CompetencyId">
                                <img src="~/img/edit-icon-png-3602.png" style="height: 30px; width: 30px;" alt="Edit Competency" title="Edit Competency">
                            </a>
                            @if (comp.CompetencyTrackers.Count() < 1)
                            {
                                <form asp-page-handler="Delete" method="post" asp-route-id="@comp.CompetencyId" onsubmit="return confirm('Are you sure you want to delete this competency?');">
                                    <button class="delete-button" type="submit" title="Delete Competency">
                                        <img src="~/img/garbage-bin-png-10491.png" style="height: 40px; width: 40px;" alt="Delete Competency">
                                    </button>
                                </form>
                            }
                        </div>
                    </td>
            </tbody>

        }


    }
</table>
