@page
@model StudentPortfolio.Pages.Dashboard.DashboardModel
@{
    ViewData["Title"] = "Dashboard";

    // order the levels of competencies
    var levelOrder = new Dictionary<string, int>
    {
        {"Developing", 1},
        {"Emerging", 2},
        {"Proficient", 3}
        // think there's meant to be one more level
    };

    var groupedTrackers = Model.CompetencyTracker
    .GroupBy(t => t.CompetencyId)
    .Select(group => group.OrderByDescending(t => levelOrder.GetValueOrDefault(t.Level, 0)).First())
    .ToList();
}

@section DashboardNav {
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-page="/Dashboard/Dashboard">Dashboard</a>
    </li>
}

<div class="input-container">
    <h3>Date Range</h3>
    <label for="fromInput">From:</label>
    <input class="input" type="month" id="fromInput" name="from">

    <label for="toInput">To:</label>
    <input class="input" type="month" id="toInput" name="to">
</div>

<h2>Competency Tracker Test</h2>

@if (groupedTrackers.Any())
{
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Created Date</th>
                <th>Level</th>
                <th>Competency ID</th>
                <th>Competency</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tracker in groupedTrackers)
            {
                <tr>
                    <td>@tracker.Created.ToShortDateString()</td>
                    <td>@tracker.Level</td>
                    <td>@tracker.CompetencyId</td>
                    <td>@tracker.Competency.Description</td>
                    <td>
                        @if (Model.CompetencyCounts.ContainsKey(tracker.CompetencyId))
                        {
                            <span>@Model.CompetencyCounts[tracker.CompetencyId]</span>
                        }
                        else
                        {
                            <span>0</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No competency tracking data found for your account.</p>
}

<a class="btn btn-primary" asp-page="/Summary/Summary">View Summary</a>
